@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --splashBackground: #2252a0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --splashBackground: #2252a0;
  }
}

.splash-body {
  background-color: var(--splashBackground);
  background-image: url("../../public/image/splash/splash.svg");
  background-repeat: repeat;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--splashBackground);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel Image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
} */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
